@import 'bootstrap/dist/css/bootstrap.min.css';

/* カスタムスタイル */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 改行を保持 */
.white-space-pre-line {
    white-space: pre-line;
}
